<p>Сотрудник <b>@Model.EmployeeFullName</b> (субподрядчик «@Model.SubcontractorName») <b>полностью согласован</b> по всем шагам матрицы.</p>
<p>История: <a href="@Model.HistoryUrl">@Model.HistoryUrl</a></p>
