<p>Сотрудник <b>@Model.EmployeeFullName</b> (субподрядчик «@Model.SubcontractorName») отправлен на согласование.</p>
<p>Первый согласующий: <b>@Model.FirstApproverName</b>.</p>
<p>История согласования: <a href="@Model.HistoryUrl">@Model.HistoryUrl</a></p>
