<p>Здравствуйте, @Model.EmployeeFullName!</p>
<p>Перед выходом на объект «@Model.SubcontractorName» необходимо пройти опрос по безопасности в личном кабинете сотрудника.</p>
<p><a href="@Model.PortalUrl">Перейти в портал</a></p>
