<p>Здравствуйте, <b>@Model.ApproverName</b>!</p>
<p>
    На ваше согласование поступил сотрудник <b>@Model.EmployeeFullName</b>
    (субподрядчик «@Model.SubcontractorName»). Шаг №@Model.OrderNo.
</p>
<p>Ваш раздел согласований: <a href="@Model.InboxUrl">@Model.InboxUrl</a></p>
